@use '@/styles/mixins' as *;






































.uploader-select-demo-header {
  display: block;
}

.uploader-select-demo-col {
  margin-bottom: 4px;
  display: block;
  font-size: 12px;
  color: var(--font-color-grey);
}

.uploader-select-demo-wrap {
  margin-top: 4px;
  font-size: 12px;
  color: var(--font-color-grey-1);
}
