@use '@/styles/mixins' as *;























































































































































































































































































   

  
  
   
     
  

   
     
  


  
  
   
     
     
  


  
  
   
     
  

   
     
  






































   







































   

















































   

















   


















































.session-action-buttons-basic-demo-block22 {
  display: block;
}

.session-action-buttons-basic-demo-block23 {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: var(--font-size-small);
  color: var(--font-color-grey);
}
