@use '@/styles/mixins' as *;




























































































































.file-list-demo-scroll {
  font-size: var(--font-size-small);
  font-weight: 500;
  color: var(--font-color-grey);
  margin-bottom: 8px;
}

.file-list-demo-viewport {
  font-size: var(--font-size-small);
  font-weight: 500;
  color: var(--font-color-grey);
  margin-top: 24px;
  margin-bottom: 8px;
}

.file-list-demo-banner {
  display: block;
}
