@use '@/styles/mixins' as *;








































.semantic-tag-review-demo-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.semantic-tag-review-demo-header {
  color: var(--font-color-grey-1);
}

.semantic-tag-review-demo-body {
  display: block;
}

.semantic-tag-review-demo-footer {
  margin-bottom: 12px;
  font-size: var(--font-size-small);
  color: var(--font-color-grey);
}
