@use '@/styles/mixins' as *;























































































































































































































































































   

  
  
   
     
  

   
     
  


  
  
   
     
     
  


  
  
   
     
  

   
     
  






































   







































   

















































   

















   














































.citation-panel-basic-demo-block20 {
  height: 360px;
  border-radius: 12px;
  border-width: 1px; border-style: solid;
  border-color: var(--font-color-grey-4);
  overflow: hidden;
}
