@use '@/styles/mixins' as *;





























































.upload-panel-demo-root {
  max-width: xl;
}

.upload-panel-demo-container {
  font-size: 12px;
  color: var(--font-color-grey);
}
