@use '@/styles/mixins' as *;























































































































































































































































































   

  
  
   
     
  

   
     
  


  
  
   
     
     
  


  
  
   
     
  

   
     
  






































   







































   

















































   

















   










































































.message-actions-message-actions {
  margin-top: 4px;
  display: flex;
  align-items: center;
  gap: 2px;
  transition: opacity 0.2s ease;
  opacity: 0;

  :global(.group:hover) & {
    opacity: 1;
  }
}

.message-actions-visible {
  opacity: 1;
}

.message-actions-left {
  justify-content: flex-start;
}

.message-actions-right {
  justify-content: flex-end;
}

.message-actions-message-action-btn {
  height: 28px !important;
  width: 28px !important;
  padding: 0 !important;
}

.message-actions-message-action-btn-default {
  color: var(--font-color-grey-1) !important;

  &:hover {
    color: var(--primary-color) !important;
  }
}

.message-actions-message-action-btn-active {
  color: var(--primary-color) !important;
}

.message-actions-message-action-btn-wrap {
  display: inline-flex;
}
