@use '@/styles/mixins' as *;























































































































































































































































































   

  
  
   
     
  

   
     
  


  
  
   
     
     
  


  
  
   
     
  

   
     
  






































   







































   

















































   

















   














































.message-item-basic-demo-block21 {
  background-color: var(--bg-color-grey);
  border-radius: 12px;
  padding: 16px;
}
