@use '@/styles/mixins' as *;

.person-option-row-root {
  font-size: var(--font-size-small);
}

.person-option-row-container {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.person-option-row-wrapper {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--font-color-grey-1);
  font-size: 12px;
}

.person-option-row-inner {
  margin-left: auto;
  flex-shrink: 0;
  color: var(--font-color-grey-1);
  &:hover {
    color: var(--primary-color);
  }
}

.person-option-row-person-row {
  @include flex-row(8px);
  min-width: 0;
  flex: 1;
}
