@use '@/styles/mixins' as *;























































































































































































































































































   

  
  
   
     
  

   
     
  


  
  
   
     
     
  


  
  
   
     
  

   
     
  






































   







































   

















































   

















   


























































.chat-input-basic-demo-block5 {
  font-size: var(--font-size-small);
}

.chat-input-basic-demo-block11 {
  display: block;
}

.chat-input-basic-demo-block12 {
  display: flex;
  align-items: center;
  gap: 8px;
}

.chat-input-basic-demo-block13 {
  border-radius: 12px;
  border-width: 1px; border-style: solid;
  border-color: var(--font-color-grey-4);
  overflow: hidden;
}
