@use '@/styles/mixins' as *;
































































































































.file-item-basic-demo-value {
  font-size: 12px;
}

.file-item-basic-demo-preview {
  display: block;
}

.file-item-basic-demo-scroll {
  font-size: var(--font-size-small);
  font-weight: 500;
  color: var(--font-color-grey);
  margin-bottom: 8px;
}

.file-item-basic-demo-viewport {
  font-size: var(--font-size-small);
  font-weight: 500;
  color: var(--font-color-grey);
  margin-top: 24px;
  margin-bottom: 8px;
}
