@use '@/styles/mixins' as *;























































































































































































































































































   

  
  
   
     
  

   
     
  


  
  
   
     
     
  


  
  
   
     
  

   
     
  






































   







































   

















































   

















   






















































.message-edit-popover-main {
  width: 320px;
}

.message-edit-popover-section {
  font-size: var(--font-size-small) !important;
}

.message-edit-popover-group {
  margin-top: 12px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
