@use '@/styles/mixins' as *;




































.semantic-tag-multi-demo-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.semantic-tag-multi-demo-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.semantic-tag-multi-demo-inner {
  margin-bottom: 16px;
  font-size: var(--font-size-small);
  color: var(--font-color-grey);
}
