@use '@/styles/mixins' as *;


































.department-select-demo-header {
  display: block;
}

.department-select-demo-body {
  margin-bottom: 4px;
  display: block;
  font-size: var(--font-size-small);
  color: var(--font-color-grey);
}
