@use '@/styles/mixins' as *;























































































































































































































































































   

  
  
   
     
  

   
     
  


  
  
   
     
     
  


  
  
   
     
  

   
     
  






































   







































   

















































   

















   


















































.citation-content-footer {
  max-width: none;
  color: 12px;
  color: var(--font-color-grey);
}

.citation-content-citation-rich-content {
  font-size: 12px;
  color: var(--font-color-grey);
  line-height: 1.7;
  word-break: break-word;

  :global(table) {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 11px;
    border-collapse: collapse;
  }

  :global(th) {
    border: 1px solid var(--font-color-grey-3);
    background-color: var(--bg-color-grey);
    padding: 4px 8px;
    text-align: left;
    font-weight: 500;
  }

  :global(td) {
    border: 1px solid var(--font-color-grey-3);
    padding: 4px 8px;
    vertical-align: top;
  }

  :global(p),
  :global(ul),
  :global(ol) {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  :global(ul),
  :global(ol) {
    padding-left: 16px;
  }

  :global(h1) {
    font-size: var(--font-size-small);
    font-weight: 600;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  :global(h2) {
    font-size: 12px;
    font-weight: 600;
    margin-top: 4px;
    margin-bottom: 4px;
  }
}
