@use '@/styles/mixins' as *;























































































































































































































































































   

  
  
   
     
  

   
     
  


  
  
   
     
     
  


  
  
   
     
  

   
     
  






































   







































   

















































   

















   


















































.session-sidebar-basic-demo-block24 {
  display: flex;
  height: 420px;
  min-width: 0;
  overflow: hidden;
  border-radius: 12px;
  border-width: 1px; border-style: solid;
  border-color: var(--font-color-grey-4);
  background-color: var(--bg-color-grey);
}

.session-sidebar-basic-demo-block25 {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-small);
  color: var(--font-color-grey-1);
}
